@model List<Product>


    <a id="change-price-link" asp-action="Details">Change to SEK price</a>
    <br />
    <br />

<div id="products-list">
@foreach (Product Item in Model)
{
    <div class="product">
        <div class="product-name">@Html.DisplayFor(modelItem => Item.Name)</div>
        <div class="product-price">@Html.DisplayFor(modelItem => Item.DollarPrice)<span>$</span></div>
        <div class="product-actions">
            <a class="add-to-cart" asp-controller="Carts" asp-action="AddToCart" asp-route-id="@Item.Id">Add to cart</a>
            <a class="view-details" asp-action="DetailsDollarPrice" asp-route-id="@Item.Id">View Details</a>
        </div>
    </div>
}
 </div>